*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Shantell Sans', cursive;
    /* #3166B0 */
    scroll-behavior: smooth;
}

a {
    color: inherit;
    /*changed the link tag font color to inherit to prevent it being on the visited state or the original link color*/
}

.header-cont{
    width: 100%;
}
.logo-box{
    display: flex;
    margin-top: 3%;
    justify-content: space-between;
}
.logo-item{
    display: flex;
    margin-left: 30px;
}
#menu-icon{
    margin-right: 3%;
    /* flex: 1; */
}

ul#menu-icon li a{
    position: relative;
}

ul#menu-icon li a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 5px;
    left: 0;
    background-color: #3166B0;
    transform-origin: bottom center;
    transition: transform 0.5s ease-out;
}

ul#menu-icon li a:hover::after{
    transform: scaleX(1);
    transform-origin: bottom center;
}
ul#menu-icon li a.btn:hover::after {
    display: none;
}

.ul-item{
    margin-right: 30px;
}
ul li{
    display: inline-block;
    margin-top: 3%;
    font-size: clamp(0.8rem, 5vw, 1.2rem);
}
.logo img{
       width: clamp(7rem, 25vw, 9.375rem);
       /* width: 150px; */
       margin-top: 3%;
}
li a{
    padding: 10px;
    color: #3166B0;
}
.dropdown{
    margin-left: 10px; 
    position: relative;
    /*made the position relative so i can declear absolute on the dropdown-icon container*/
}

.dropdown:hover .dropdown-icon{
    color:#3166B0;
    transition: 1s;
}

.dropdown-icon{
    position: absolute;
    top: 23px;
    right: 32px;
    color: white;
}

.dropdown:hover select{
    transition: 1s;
    background-color: transparent;
    color:#3166B0;
    /*applied the color styling so when you hover the parent container .dropdown  the color styling will change*/
}
select{
    outline: 2px solid #3166B0;
    margin: 10px 20px;

/*changed the border to outline... when clicked, active is activated hence activating outline instead of border*/
    color: white;
    padding: 10px 15px;
    background-color: #3166B0;
    border: none;
    border-radius: 5px;
    font-size: clamp(0.8rem, 5vw, 1.2rem);
    -webkit-appearance: none;
    box-shadow: 3px 5px 5px #888888;

}

.login{
    color:#3166B0 ;
}
.btn{
    background-color: #3166B0;
    padding: 10px 20px;/*added more padding to the side of your button*/
    border-radius: 5px;
    color: white;
    border: 2px solid #3166B0;
    /*add transitions on all your buttons to create a smoother hover effect*/
    transition: 1s;
    box-shadow: 3px 5px 5px #888888;

}
.btn:hover{
    border: 2px solid #3166B0;/*Always add border to your hover so it doesnt shift the elements when you hover over the buttons*/
    background-color: transparent;
    color: #3166B0;
    /*dont always rely on the a tag's default styling for cursor pointer, always style your buttons to have pointers as cursor so the whole button shows cursor when hovered*/
    cursor: pointer;
}

/* hero section */
.hero-section{
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin-top: 5%;
}
.left-side h1{
    font-size: clamp(2.5rem, 5vw, 4.3rem);
}
.left-side p{
    margin-bottom: 1%;
    margin-top: 2%;
    font-size: clamp(0.8rem, 5vw, 1.3rem);

    word-spacing: 5px;
    line-height: 1.3;
}
.right-side{
    margin-left: 8%;
}
.right-side img{
    width: clamp(280px, 50vw, 500px);
}
.left-side{
    margin-left: 8%;
    margin-top: 3%;
}
.btn-box{
    display:flex;
}
.btnn{
    /* border: 2px;  apply border and type of line for your buttons*/
    border: 3px solid #3166B0; 
    padding: 10px 20px;
    margin-right: 10px;
    font-size: clamp(0.8rem, 5vw, 1.2rem);
    margin-top: 5%;
    background-color: #3166B0 ;
    border-radius: 5px;
    /*style the color of your button text on your buttons rather than on the a element*/
    color: white;
    /*add transitions on all your buttons to create a smoother hover effect*/
    transition: 1s;
    box-shadow: 3px 5px 5px #888888;

}
/* .btnn a{
    color: white;
} 
you dont need this*/

.btnn1{
    border: 2px solid #3166B0 ;
    padding: 10px 20px;
    margin-top: 5%;
    font-size: clamp(0.8rem, 5vw, 1.2rem);
    border-radius: 5px;
    color: #3166B0 ;
    /*add transitions on all your buttons to create a smoother hover effect*/
    transition: 1s;
    box-shadow: 3px 5px 5px #888888;

}

.btnn1:hover{
    border: 2px solid #3166B0; /*Always add border to your hover so it doesnt shift the elements when you hover over the buttons*/
    background-color: #3166B0 ;
    color: white;
    /*dont always rely on the a tag's default styling for cursor pointer, always style your buttons to have pointers as cursor so the whole button shows cursor when hovered*/
    cursor: pointer;
}


.btnn:hover{
    border: 3px solid #3166B0 ;
    background-color: transparent;
    color: #3166B0 ;
    /*dont always rely on the a tag's default styling for cursor pointer, always style your buttons to have pointers as cursor so the whole button shows cursor when hovered*/
    cursor: pointer;
}

/* work styling */
.work-container h1{
    text-align: center;
    font-size: clamp(2.5rem, 5vw, 5rem);
    margin-bottom: 3%;
}
.work-flex{
    display: flex;
    justify-content: center;
    padding: 30px;
    margin-left: 30px;
    
}
.work-container{
    margin-top: 5%;
    width: 100%;
}

.work-items{
    padding-right:4%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.work-items h2{
    text-align: center;
    font-size: 1.5625rem;
}
.work-items p{
    text-align: center;
    font-size: clamp(0.8rem, 5vw, 1.3rem);
    margin-top: 20px;
}
.work-items img{
    height: 100px; 
}

.master{
    background-color: #3166B0 ;
    color: white;
    text-align: center;
    margin-top: 10px;
    width: 90%;
    margin-left: 5%;
    font-size: 30px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 3px 5px 5px #888888;

}
.master h2{
    padding-top: 45px;
    margin-bottom: 10%;
    justify-content: center;
    font-size: clamp(2rem, 5vw, 3.525rem);
}
.gbtn{
    color: #3166B0 ;
    border: 2px;
    border: 2px solid #3166B0 ;
    background-color: white;
    padding: 10px 20px;
    /* align-self: flex-end; */
    border-radius: 5px;
    font-size: clamp(0.8rem, 5vw, 1.2rem);
    margin: 0 0 3rem;
    transition: all 0.5s ease;
    transform: scale(1);
    cursor: pointer;
}
.gbtn:hover{
    border: 2px solid white;
    background-color: transparent;
    transform: scale(1.2) perspective(1px)
  
}
.gbtn a:hover{
    color: white;
}
/* learn style */

.learn-flex{
    display: flex;
    width: 80%;
    margin-top: 5%;
    justify-content: space-between;
    margin-left: 15%;
}
.learn-right img{
    width: clamp(280px, 50vw, 500px);
}
.learn-right{
    margin-right: 10%;
}
h4{
    color: gray;
    font-size: 15px;
    padding-bottom: 30px;
}
.learn-left {
    min-width: 250px;
}
.learn-left h1 span{
    background-color: rgb(14, 217, 236);
}
.learn-left h1{
    margin-bottom: 30px;
    font-size: clamp(2.5rem, 5vw, 5.625rem);
}
.learn-left p{
    margin-bottom: 30px;
    font-size: clamp(0.8rem, 5vw, 1.2rem);
}
.btnl{
    border: 2px solid #3166B0 ;
    padding: 15px 20px;
    background-color: #3166B0 ;
    color: white;
    font-size: clamp(0.2rem, 5vw, 1.2rem);
    border-radius: 5px;
    transition: 1s;
}
.btnl:hover{
    border: 2px solid #3166B0 ;
    background-color: transparent;
    color:#3166B0 ;
    cursor: pointer;
}
.btnl a {
    color: white;
    transition: 1s;
}

.btnl:hover a {
    color: #3166B0;
    
}


/* plan style */
.plan-flex{
    display: grid;
    /* grid-template-columns: 1fr; */
    gap: 150px;
    margin-left:5%;
    margin-top: 5%;
    width: 90%;
    position: relative;
}
.plan-flex .img-1 {
    position: absolute;
    left: 10px;
    top: -5px;
}

.plan-flex .img-2 {
    position: absolute;
    top: 500px;
    right: 10px;
}
.plan-flex img{
    width: clamp(100px, 30vw, 300px);
    height: 100%;
    border-radius: 50%;
    
}
.the-plan{
    background-color: rgb(174, 152, 7);
    /* height: 100hv; */
    /* width: 500px; */
    color: white;
    /* text-align:left; */
    padding: 25px 25px 50px 100px; 
    margin: 100px 320px 0 200px;
    box-shadow: 3px 5px 5px #888888;
    min-width: 500px;
}
.the-plan p{
    margin-top: 30px;
    margin-left:10px;
    margin-bottom: 40px;
    font-size: clamp(0.8rem, 5vw, 1.2rem);
    word-spacing: 1.6;
    padding-left: 10px;
    padding-right:10px;
    text-align: justify;
}
h3{
    margin-left:10px;
    margin-top: 15px;
    font-size: 20px;
    padding-left: 10px;
    
}
.the-plan li a{
    margin-left:10px;
    margin-top: 20px;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    padding: 10px 15px;
    /* width: auto; */
}
.the-plan li a:hover{
    background-color: white;
    color:rgb(174, 152, 7); ;
    border: 2px solid white;
    transition: 1s;
}

.innovation{
    background-color: rgb(12, 12, 9);
    /* height: 100hv; */
    /* width: 500px; */
    margin: 0 200px 0 320px;
    padding: 25px 125px 50px 25px; 
    color: white;
    text-align:left;
    display: flex;
    flex-direction: column;
    /* padding: 25px 25px;  */
    box-shadow: -3px 5px 5px #888888;
    min-width: 500px;
}
.innovation p{
    margin-top: 30px;
    margin-left:10px;
    margin-bottom: 40px;
    font-size: clamp(0.8rem, 5vw, 1.2rem);
    word-spacing: 1.6;
    text-align: justify;
    padding-left: 10px;
    padding-right:10px ;
    }

.innovation li a{
    margin-left:10px;
    margin-top: 20px;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
}
.innovation li a:hover{
    background-color: white;
    color:rgb(9, 8, 3); ;
    border: 2px solid white;
    transition: 1s;
}

/* vision styling */
.vision-flex{
    margin-top: 5%;
    display: flex;
    justify-content: center;
}
.vision-flex img{
    width: clamp(280px, 50vw, 500px);
}
.left-text{
    margin-left: 2%;
    padding-top: 20px;
}
.left-text h1{
    font-size: clamp(2.5rem, 5vw, 3.125rem);
}
.left-text p{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    font-size: clamp(0.8rem, 5vw, 1.2rem);
}

.left-text li{
    display: inline-block;
}


.right-img{
    margin-right: 2%;
}
/* for navicon */
.fa-solid {
    display: none;
}

.fa-circle-chevron-down{
    display: contents;
    /* color: white; */
}

/* footer styling */
.footer-flex{
    display: flex;
    width: 100%;
    background-color: black;
    justify-content: center;
    margin-top: 5%;
}
.footer-item{
    color: white;
    margin: 40px 25px;
    padding: 20px;
    text-align: center;
    min-width: 300px;
}

.footer-item h4{
    font-size: clamp(1.5rem, 5vw, 2.18rem);
    color: #3166B0;
}
.footer-item p{
    font-size: clamp(0.8rem, 5vw, 1.2rem);
}

@media screen and (max-width:700px) {
    .logo-box{
        flex-direction: column;
    }
    ul li{
        display: block;
        }
        ul{display: none;    
        }

        ul{
            height: 100vh;
            width: 50%;
            text-align: center;
            position: fixed;
            top: 0;
            right: 0;
            z-index: 2;
            line-height: 1.6;
            background-color: lavender;
            padding-top: 20px;
            /* transition: 2s; */
        }

        ul#menu-icon li:nth-child(4){
            margin-bottom: 20px;
        }

    .fa-solid {
        color: #3166B0;
        cursor: pointer;
    }
    .fa-circle-chevron-down{
        color: inherit;
    }
    .fa-xmark{
        position: absolute;
        font-size: 25px;
        top: 32px;
        left: 25px;
        /* padding: 50px; */
    }
    .far-btn{
        display: block;
        font-size: 25px;
        margin-right: 3%;
       }
       .fa-bars{
        font-size: 20px;
        color: #3166B0;
        position: absolute;
        right: 10px;
        top: 40px;
    }
    #menu-icon{
        margin: 0;
    }
    .hero-section{
        flex-direction: column;
        text-align: center;
        justify-content: center;
        width: 100%;
        padding: 0 3.125rem;
    }
    .left-side {
        margin-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .left-side p{
        padding: 20px;
    }
    .right-side {
        margin-left: 0;
    }
    .btn-box{
        display: inline-block;
    }
    .btnn1{
        font-size: clamp(0.8rem, 5vw, 1.2rem);
        width: max(300px, 30vw);
    }
    .btnn{
        font-size: clamp(0.8rem, 5vw, 1.2rem);
        width: max(300px, 30vw);
    }
    .work-flex {
        margin-left: 0px;
    }
    .work-container{
        text-align: center;
    }
    .work-container h1{
        color: #3166B0;
    }
    .work-flex{
        display: inline-block;
        text-align: center;
    }
    .work-items h2{
        font-size: 1.8rem;
        color: #3166B0;
    }
    .work-items p{
        text-align: center;
    }
.master{
    position: relative;
}
    .gbtn:hover{
        border: 2px solid rgb(160, 160, 239);
        background-color: rgb(160, 160, 239);
        color: white;
    }
    .gbtn:hover a{
        color: inherit;
    }
    .learn-flex{
        display: inline-block;
       text-align: center;
       margin: 10% 0;
       width: 100%;
       margin-left: 0;
    }
    .learn-left{
        margin-bottom: 20%;
    }
    .learn-left p{
        padding: 0 10px 20px 10px;
    }
    .learn-right{
        margin: 0;
    }
    .plan-flex{
        display: inline-block;
        text-align: center;
        margin-top: 15%;
    }
    .plan-flex .img-1 {
        left: 50px;
        top: -80px;
    }
    .plan-flex .img-2 {
        top: 510px;
        right: 350px;
    }
    .the-plan{
        min-width: 346px;
        margin: 0 0 200px;
        padding: 100px  25px 40px 25px;
    }
    .the-plan li{
     margin-bottom: 3%;
    }
    .innovation{
        min-width: 346px;
        margin: 0;
        box-shadow: 3px 5px 5px #888888;
        padding: 100px  25px 40px 25px;
        text-align: center;
    }
    .innovation li{
        margin-bottom: 3%;
       }
    .vision-flex{
        display: inline-block;
        margin-top: 15%;
        text-align: center;
    }
    .left-text p{
        padding-left: 20px;
        padding-right: 20px;
    }
    .footer-flex{
        display: inline-block;
    }
    .footer-item{
        text-align: center;
        padding-top: 5px;
    }
}

@media screen and (max-width:430px) {
    .logo img {
        margin-top: 10px;
    }
    .logo-item {
        margin-left: 10px;
    }
    .fa-bars{
        right: 15px;
        top: 35px;
    }
    ul{
        width: 100%;
    }
    .hero-section {
        padding: 0;
    }
    .master {
        min-height: auto;
        border-radius: 5px;
    }
    .learn-flex {
        margin: 40px 0 0 0;
    }
    .plan-flex img {
        display: none;
    }
    .the-plan {
        padding: 20px 40px;
        margin: 0 0 100px 0;
        border-radius: 5px;
        min-width: auto;
    }
    .the-plan h3 {
        margin: 0 0 10px 0;
        padding: 0;
    }
    .the-plan p {
        padding: 0;
        margin: 0 0 40px 0;
    }
    .the-plan li a {
        margin: 0;
    }

    .innovation {
        padding: 20px 40px;
        margin: 0 0 50px 0;
        border-radius: 5px;
        min-width: auto;
    }
    .innovation h3 {
        margin: 0 0 10px 0;
        padding: 0;
    }
    .innovation p {
        padding: 0;
        margin: 0 0 40px 0;
    }
    .innovation li a {
        margin: 0;
    }
    .vision-flex {
        margin: 0;
    }
    .left-text li {
        display: block;
        width: auto;
        margin: 0 20px 15px 20px;
    }
}

@media screen and (max-width:375px) {
    
}